@font-face {
    font-family: JosefinSans;
    src: url(../assets/fonts/JosefinSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "JosefinSans";
    src: url(../assets/fonts/JosefinSans-Medium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans";
    src: url(../assets/fonts/JosefinSans-SemiBold.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JosefinSans";
    src: url(../assets/fonts/JosefinSans-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
}

@mixin tablet {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: 800px) {
        @content;
    }
}

@mixin break($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

* {
    box-sizing: border-box;
    font-family: JosefinSans;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: scroll;
}
body {
    width: 100vw;
}

nav {
    height: 4rem;
    display: flex;
    margin: 0;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #0050b6;

    span {
        height: 100%;

        img {
            height: 100%;
        }
    }

    ul {
        display: none;
    }

    img.ham-menu {
        cursor: pointer;
        filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(59deg) brightness(107%) contrast(108%);
        height: 85%;
    }

    @include tablet {
        margin: 0rem 2rem;
        height: 5rem;
        background-color: unset;

        span {
            flex: 1;
            margin-right: 0.4rem;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #95b9e7;

            img {
                height: 100%;
            }
        }

        ul {
            height: 100%;
            background-color: #0050b6;
            width: 90%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;

            li {
                list-style: none;
                position: relative;
                color: white;
                font-weight: bold;
                cursor: pointer;
                padding: 1rem 0.2rem;
                font-size: 0.8rem;
                text-align: center;

                &::before {
                    content: "";
                    background-color: white;
                    position: absolute;
                    left: 0;
                    bottom: 0.8rem;
                    height: 3px;
                    width: 0;
                    transition: 0.3s ease-in-out;
                }

                &:hover {
                    &::before {
                        width: 100%;
                    }
                }
            }
        }

        img.ham-menu {
            display: none;
        }
    }

    @include desktop {
        ul {
            li {
                font-size: 1rem;
            }
        }
    }
}

iframe {
    display: block;
    margin: 0.5rem auto 1.5rem;
    width: 80%;
    height: 32rem;
}

section {
    max-width: 100%;
    padding: 1rem;

    &#mobile-about-us {
        background-color: #0050b6;
        display: block;

        .gallery-container {
            display: flex;
            justify-content: space-around;

            .gallery {
                top: 0;
                left: 0;
                display: flex;
                width: 80%;
                transition: all 0.5s ease-in-out;

                .gallery-card {
                    min-width: 100%;
                    height: max-content;
                    object-fit: cover;
                    margin-right: 0.5rem;
                    transition: all 0.7s ease-in-out;

                    h1 {
                        text-align: center;
                        font-size: 2rem;
                        color: #ffffff;
                    }

                    img {
                        height: 25rem;
                        object-fit: cover;
                        width: 100%;
                        border: 5px solid #fff;
                    }

                    p {
                        color: #ffffff;
                        margin: 1rem 2rem;
                        font-size: 1.2rem;
                    }

                    &:not(:first-child) {
                        filter: blur(0.1rem);
                    }
                }
            }

            .prev-arrow,
            .next-arrow {
                filter: invert(100%) sepia(0%) saturate(7471%) hue-rotate(59deg) brightness(107%) contrast(108%);
                width: 40px;
                cursor: pointer;
                z-index: 2;
                transition: 0.3s ease-in-out;
                
                &:hover {
                    transform: scale(1.2);
                    transition: 0.3s ease-in-out;
                    overflow: hidden;
                }
            }

            .prev-arrow {
                transform: rotate(180deg);
                transition: none;

                &:hover {
                    transform: scale(1.2) rotate(180deg);
                    transition: 0.3s ease-in-out;
                }
            }
        }
    }

    &#desktop-about-us {
        background-color: #0050b6;
        display: none;
    }

    @include desktop {
        &#mobile-about-us {
            display: none;
        }

        &#desktop-about-us {
            display: block;
        }
    }
}
